body {
  background-color: #f0f8ff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: steelblue;
  color: white;
  padding: 10px;
  text-align: center;
}

main {
  margin: 20px;
  text-align: center;
}

footer {
  background-color: steelblue;
  color: white;
  text-align: center;
  padding: 10px;
}
